In [ ]:
#exercicio primeira imersão de dados da alura
import pandas as pd

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

In [ ]:
df.describe()

           work_year        salary  salary_in_usd   remote_ratio
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [ ]:
print('Descrição estatística do DataFrame (traduzida para português):')
describe_pt = df.describe()
describe_pt.index = [
    'contagem',
    'média',
    'desvio padrão',
    'mínimo',
    '25%',
    '50%',
    '75%',
    'máximo'
]
print(describe_pt)

# Calcular o salário médio por nível de experiência
salario_medio_por_nivel = df.groupby('experience_level')['salary_in_usd'].mean().reset_index()
salario_medio_por_nivel = salario_medio_por_nivel.rename(columns={'salary_in_usd': 'salário_médio'})

# Criar a nova coluna 'salário_médio' no DataFrame original
df = df.merge(salario_medio_por_nivel, on='experience_level', how='left')

print('\nDataFrame com a nova coluna "salário_médio":')
print(df.head())

Descrição estatística do DataFrame (traduzida para português):
                   work_year        salary  salary_in_usd   remote_ratio
contagem       133339.000000  1.333490e+05  133349.000000  133349.000000
média            2024.358770  1.632833e+05  157617.272098      20.905669
desvio padrão       0.680627  2.173860e+05   74288.363097      40.590044
mínimo           2020.000000  1.400000e+04   15000.000000       0.000000
25%              2024.000000  1.060200e+05  106000.000000       0.000000
50%              2024.000000  1.470000e+05  146206.000000       0.000000
75%              2025.000000  1.990000e+05  198000.000000       0.000000
máximo           2025.000000  3.040000e+07  800000.000000     100.000000

DataFrame com a nova coluna "salário_médio":
   work_year experience_level employment_type           job_title  salary  \
0     2025.0               SE              FT  Solutions Engineer  214000
1     2025.0               SE              FT  Solutions Engineer  136000
2     2025.0               MI              FT       Data Engineer  158800
3     2025.0               MI              FT       Data Engineer  139200
4     2025.0               EN              FT       Data Engineer   90000

  salary_currency  salary_in_usd employee_residence  remote_ratio  \
0             USD         214000                 US           100
1             USD         136000                 US           100
2             USD         158800                 AU             0
3             USD         139200                 AU             0
4             USD          90000                 US             0

  company_location company_size  salário_médio
0               US            M  172850.003845
1               US            M  172850.003845
2               AU            M  143041.323489
3               AU            M  143041.323489
4               US            M   99039.040264

In [ ]:
df.head()

,work_year,nível_experiência,tipo_emprego,cargo,salário,moeda_salário,salário_em_usd,residência_empregado,taxa_remoto,localização_empresa,tamanho_empresa,salário_médio
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M,172850.003845
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M,172850.003845
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M,143041.323489
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M,143041.323489
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M,99039.040264