In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

In [5]:
df.head(10)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M
5,2025.0,EN,FT,Data Engineer,80000,USD,80000,US,0,US,M
6,2025.0,SE,FT,Data Scientist,185000,USD,185000,US,0,US,M
7,2025.0,SE,FT,Data Scientist,148000,USD,148000,US,0,US,M
8,2025.0,MI,FT,Data Scientist,135000,USD,135000,CA,0,CA,M
9,2025.0,MI,FT,Data Scientist,108000,USD,108000,CA,0,CA,M

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [7]:
df.describe()

           work_year        salary  salary_in_usd   remote_ratio
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [8]:
df.shape

(133349, 11)

In [9]:
linhas, colunas = df.shape[0], df.shape[1]
print("número de linhas:", linhas)
print("número de colunas:", colunas)

número de linhas: 133349
número de colunas: 11

In [10]:
df.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [11]:
df["experience_level"].value_counts()

experience_level
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [12]:
df["work_year"].value_counts()

work_year
2024.0    62240
2025.0    60627
2023.0     8521
2022.0     1660
2021.0      216
2020.0       75
Name: count, dtype: int64

In [13]:
df["employment_type"].value_counts()

employment_type
FT    132563
CT       394
PT       376
FL        16
Name: count, dtype: int64

In [14]:
df["salary"].value_counts()

salary
160000     2466
110000     2262
150000     2189
180000     1840
100000     1839
           ...
165220        1
208775        1
1450000       1
1335000       1
19000         1
Name: count, Length: 11234, dtype: int64

In [15]:
df["remote_ratio"].value_counts()

remote_ratio
0      105312
100     27718
50        319
Name: count, dtype: int64

In [16]:
df["senioridade"] = df["senioridade"].replace({
    'SE': 'Sênior',
    'MI': 'Pleno/Intermediário',
    'EN': 'Júnior/Iniciante',
    'EX': 'Executivo'
})

print("Categorias da coluna 'senioridade' traduzidas com sucesso!")
df['senioridade'].value_counts()

KeyError: 'senioridade'

In [ ]:
df["employment_type"] = df["employment_type"].replace({
    'FT': 'Tempo Integral',
    'CT': 'Contrato',
    'PT': 'Tempo Parcial',
    'FL': 'Freelancer'
})

print("Categorias da coluna 'employment_type' traduzidas com sucesso!")
df['employment_type'].value_counts()

In [ ]:
df.head()

*Apreendendo a Limpar e Preparar os Dados*

In [ ]:
df.isnull()

In [ ]:
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
df['work_year'].unique()

In [ ]:
df[df.isnull().any(axis=1)]

In [20]:
import numpy as np
import pandas as pd

df_salarios = pd.DataFrame({
    'nome': ["Leticia", "Leandro", "Kaique", "Marcos","Everson"],
    'salario': [4000, np.nan, 5000, np.nan,7000]
})

#calcula a média salarial e substitui as nulas pela média e arrendonda os valores
df_salarios['salario_media'] = df_salarios['salario'].fillna(
    df_salarios['salario'].mean())

df_salarios['salario_mediana'] = df_salarios['salario'].fillna(
    df_salarios['salario'].median())
df_salarios

      nome  salario  salario_media  salario_mediana
0  Leticia   4000.0    4000.000000           4000.0
1  Leandro      NaN    5333.333333           5000.0
2   Kaique   5000.0    5000.000000           5000.0
3   Marcos      NaN    5333.333333           5000.0
4  Everson   7000.0    7000.000000           7000.0

In [23]:
df_temperaturas = pd.DataFrame({
    "Dia": ["segunda", "terça", "quarta", "quinta", "sexta", "sábado", "domingo"],
    "Temperatura": [30, np.nan, np.nan, 28, 27, 30, 28]
})

df_temperaturas["preenchido_ffill"] = df_temperaturas["Temperatura"].ffill()
df_temperaturas

       Dia  Temperatura  preenchido_ffill
0  segunda         30.0              30.0
1    terça          NaN              30.0
2   quarta          NaN              30.0
3   quinta         28.0              28.0
4    sexta         27.0              27.0
5   sábado         30.0              30.0
6  domingo         28.0              28.0

In [24]:
df_temperaturas = pd.DataFrame({
    "Dia": ["segunda", "terça", "quarta", "quinta", "sexta", "sábado", "domingo"],
    "Temperatura": [30, np.nan, np.nan, 28, 27, 30, 28]
})

df_temperaturas["preenchido_bfill"] = df_temperaturas["Temperatura"].bfill()
df_temperaturas

       Dia  Temperatura  preenchido_bfill
0  segunda         30.0              30.0
1    terça          NaN              28.0
2   quarta          NaN              28.0
3   quinta         28.0              28.0
4    sexta         27.0              27.0
5   sábado         30.0              30.0
6  domingo         28.0              28.0

In [33]:
df_cidades = pd.DataFrame({
    'nome': ["Maria", "João","Vitor", "Lucas","Eric"],
    'cidade': ["São Paulo", np.nan, "Rio de Janeiro", "Bahia", np.nan] # Agora com 5 elementos para corresponder a 'nome'
})
df_cidades['Cidade_preenchida'] = df_cidades['cidade'].fillna("Não informado")
df_cidades

    nome          cidade Cidade_preenchida
0  Maria       São Paulo         São Paulo
1   João             NaN     Não informado
2  Vitor  Rio de Janeiro    Rio de Janeiro
3  Lucas           Bahia             Bahia
4   Eric             NaN     Não informado

In [34]:
df_limpo = df.dropna()

In [37]:
df.isnull().sum()

work_year             10
experience_level       0
employment_type        0
job_title              0
salary                 0
salary_currency        0
salary_in_usd          0
employee_residence     0
remote_ratio           0
company_location       0
company_size           0
dtype: int64

In [50]:
df_limpo.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,ano
0,2025,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M,2025
1,2025,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M,2025
2,2025,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M,2025
3,2025,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M,2025
4,2025,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M,2025

In [49]:
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 133339 entries, 0 to 133348
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  int64
 1   experience_level    133339 non-null  object
 2   employment_type     133339 non-null  object
 3   job_title           133339 non-null  object
 4   salary              133339 non-null  int64
 5   salary_currency     133339 non-null  object
 6   salary_in_usd       133339 non-null  int64
 7   employee_residence  133339 non-null  object
 8   remote_ratio        133339 non-null  int64
 9   company_location    133339 non-null  object
 10  company_size        133339 non-null  object
 11  ano                 133339 non-null  int64
dtypes: int64(5), object(7)
memory usage: 13.2+ MB

In [48]:
df_limpo = df_limpo.assign(work_year = df_limpo['work_year'].astype('int64'))

## *Graficos e sua análise*